.ccls*
.clangd*
*.o
main
main.exe
src/main
CMakeFiles/*
build/*
CMakeCache.txt
compile_commands.json
cmake_install.cmake
Makefile
Session.vim
Sessionx.vim
cmake-build-*
.idea/*
*.bin
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig
CPackSourceConfig.cmake
minesector
testminesector
.cache/
